name: Firefox Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  firefox-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Add-ons linter
        run: npm install -g addons-linter

      - name: Run AMO Validator
        run: npx addons-linter . --output=text --enable-color